@import "./color_schemes/dark";

$color-scheme: giraffe;
$body-background-color: #000000;
$body-heading-color: #ffffff;
$body-text-color: #ffffff;
$link-color: #f7d12e;
$nav-child-link-color: #dddddd;
$sidebar-color: #000000;
$base-button-color: #111111;
$btn-primary-color: #e7af06;
$code-background-color: #050505;
$code-linenumber-color: #888888;
$feedback-color: #050505;
$table-background-color: #0a0a0a;
$search-background-color: #0a0a0a;
$search-result-preview-color: #ffffff;
$border-color: #333333;
